@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Karla-Bold';
    src: url('./assets/fonts/Karla-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla-Regular';
    src: url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  
}

header {
    padding: 0px 10vw;
    margin: auto auto;
    font-size: 0.85vw;
}

@media (max-width:450px) {
    header {
        padding: 0px 10vw;
        margin: auto auto;
        font-size: 12px;
        line-height: 12px;
    }
}

.fontSize-m {
    font-size: 12px;
}

.white {
    color: white;
}

.blue {
    color: #3B71FE;
}

.karla-bold {
    font-family: "Karla-Bold";
}

.karla-regular {
    font-family: "Karla-Regular";
}

.roboto-bold {
    font-family: "Roboto-Bold";
}

.roboto-medium {
    font-family: "Roboto-Medium";
}

.roboto-regular {
    font-family: "Roboto-Regular";
}

.header_gradient-L {
    background: linear-gradient(rgba(151, 151, 151, 0.226), white);
}

.header_gradient-D {
    background: linear-gradient(rgba(95, 95, 95, 0.226), #1b1f2ee0);
}

@media (max-width:770px) {
    header {
        padding: 0px 10px;
        margin: auto auto;
    }
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.marginB-m {
    margin-bottom: 20px;
}

body {
    margin: auto auto;
    font-family: "Karla-Regular";
}

p {
    margin: 0;
}

h1 {
    font-family: "Karla-Bold";
}

h2 {
    font-family: "Roboto-Medium";
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-family: "Karla-Bold";
    font-size: 1rem;
    margin: 0;
    padding: 2px 5px;
}


h4 {
    font-family: "Karla-bold";
    margin: 0;
    font-size: 0.8rem;
}

.App {
    font-size: 1.2em;
    margin: 0 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #8e2ad6;
    border-bottom: 1px dotted;
}

section h1 {
    font-family: "Karla-Bold";
    font-weight: bolder;
    font-size: 5rem;
    color: rgb(29, 29, 29);
    z-index: 1;
}

section h2 {
    font-family: "Karla-Regular";
    font-weight: lighter;
    font-size: 2rem;
    color: rgb(29, 29, 29);
}

.site-header {
    padding-top: 20px;
}

.no-under-line {
    cursor: pointer;
    border-bottom-style: none;
}

.text-nowrap {
    white-space: nowrap;
}

.font-m {
    font-size: 2vw;
}

.font-l {
    font-size: 5vw;
}

.font-button {
    font-size: 1.2rem;
}

.fontColor-b {
    color: rgb(29, 29, 29);
}

.fontColor-b-opaque {
    color: rgba(29, 29, 29, 0.61);
}

.font-gray {
    color: #868DB3;
}

.margins {
    margin: 0px 10px;
}

.margins-section {
    margin: 50px 10px;
}

.margin-auto {
    margin: auto auto;
}


.margins-card {
    margin: 0px 10px;
}

.marginL-1 {
    margin-left: 1vw;
}

.marginL-2 {
    margin-left: 2vw;
}


.marginL-3 {
    margin-left: 3.5vw;
}

.marginR-1 {
margin-right: 1vw;
}

.marginR-3 {
    margin-right: 3vw;
}

.paddings-button {
    padding: 2px 40px;
  
}

.paddingL-xs {
    padding-left: 0.5vw;
}

.paddingL-s {
    padding-left: 2vw;
}

.paddingL-m {
    padding-left: 4vw;
}

.paddingR-xs {
    padding-right: 5px;
}

.paddingR-s {
    padding-right: 20px;
}

.paddingT-xs {
    padding-top: 5px;
}

.paddingT-s {
    padding-top: 15px;
}

.paddingT-m {
    padding-top: 30px;
}

.paddingT-l {
    padding-top: 20px;
}

.paddingT-section {
    padding-top: 50px;
}

.paddingB-m {
    padding-bottom: 30px;
}

.paddingLR-l {
    padding-left: 50px;
    padding-right: 50px;
}

.boxHeight-s {
    height: 1vw;
}

.flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flex-button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flexbasis-33 {
    flex-basis: 10%;
}

.icon-mini {
    max-width: 25vw;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.center_items {
    justify-content: center;
}

.center_image {
    margin: auto auto;
    display: block;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

@media (max-width:450px) {
    .flex-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px 0px;
    }
}

.vertical {
    flex-direction: column;
}

.flex-direction {
    flex-direction: row;
}


@media (max-width:450px) {
    .flex-direction {
        flex-direction: column;
    }
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.spacing {
    justify-content: space-between;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.abs_center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.top {
    top: 20%;
}

@media(max-width:770px) {
    .spacing {
        justify-content: center;
    }
}

.center_div {
    display: block;
    margin: auto auto;
}

.center_noresize {
    display: block;
    padding-bottom: 10px;
    margin: auto auto;
}

.center_text {
    text-align: center;
}

.left {
    float: left;
}

.wrapping {
    flex-shrink: 2;
}

.gap_bottom {
    gap: 10px 30vw;
}

@media (max-width:1024px) {
    .gap_bottom {
        gap: 10px 30vw;
    }
}

.bottom_box {
    width: 60vw;
}

.gap-header {
    gap: 1px 2vw;
}
.gap-list {
    gap: 0px 30px;
}

.gap-s {
    gap: 10px 10px;
}

.gap-ms {
    gap: 1vw 10px;
}

.gap-sm {
    gap: 1px 0vw;
}

.gap-m {
    gap: 0vw 7vw;
}

.gap-cards {
    gap: 20px 100px;
}

.gap-searchbox {
    gap: 0px 15vw;
    justify-content: flex-start;
}

.gap-subbox {
    gap: 0px 30px;
}

.align-text {
    text-align: center;
}

@media (max-width:770px) {
    .gap-sm {
        gap: 10px 10px;
    }
}

.clickable {
    cursor: pointer;
}

.button-header {
    cursor: pointer;
    border-radius: 100px;
    height: 1.5vw;
    line-height: 1.5vw;
    width: 10vw;
    padding-left: 0px;
    padding-right: 0px;
}

@media(max-width:450px) {
    .button-header {
        cursor: pointer;
        border-radius: 100px;
        height: 3vw;
        line-height: 3vw;
        width: 50vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.button-header p {
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.button-dark {
    border: 0.1vw solid rgba(133, 141, 179, 0.8);
}

.button-light {
    border: 0.1vw solid rgba(143, 146, 169, 0.8);
}

.button-light:active {
    border: 0.1vw solid rgba(143, 146, 169, 0);
}

.button-connect {
    background-color: rgb(60, 113, 255);
    border: 2.8px solid rgb(60, 113, 255);
    color: white;
}

.button-connect:hover {
    background-color: rgba(60, 112, 255, 0.801);
    border: 2.8px solid rgba(60, 112, 255, 0);
    ;
    color: white;
}

.button-connect:active {
    background-color: rgba(60, 112, 255, 0.527);
    border: 2.8px solid rgba(60, 112, 255, 0);
    ;
    color: white;
}

.button-list {
    border-radius: 30px;
    padding: 3px 10px;
    width: auto;
}

.button-s {
    cursor: pointer;
    border-radius: 100px;
    height: auto;
    width: 10vw;
    margin: 0 0;
    padding-left: 0px;
    padding-right: 0px;
}

.text-center {
    text-align: center;
}

.font-s {
    font-size: 11.5px;
}

.font-ms {
    font-size: 1vw;
}




.font-list {
    font-size: 0.8rem;
}

@media (max-width: 770px) {
    .font-list {
        font-size: 0.6rem;
    }
    
}


.button:hover {
    background-color: #868db33f;
}

.glow:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.glow-L:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.glow-D:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(170, 169, 169, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.glow-solid {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.glow-solid-L {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.glow-solid-D {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(192, 184, 184, 0.11);
    box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
    border-radius: 20px;
}

.section1-bg {
    background-image: url("./assets/Landing-Page-Background.png");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 86vw;
    height: 40vw;
    z-index: -1;
}

.section-pad {
    padding: 0px auto;
}

.overlap {
    margin-top: -25vw;
}

.search_header {
    border-radius: 20px;
    margin-left: 10vw;
    margin-top: 7vw;
    backdrop-filter: blur(20px);
}

.search_header-colorL {
    border: 1px solid #C5CFDB;
    background-color: #e7ebefa2;
}

.search_header-colorD {
    border: 1px solid #868db360;
    background-color: #1b1f2ee0;
}

.search_sub {
    border-radius: 25px;
    margin-left: 3vw;
    margin-top: 1vw;
}

@media (max-width:450px) {
    .search_sub {
        border-radius: 25px;
        margin-left: 0vw;
        margin-top: 1vw;
    }
}

.box-m {
    height: auto;
    width: 60vw;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 5vw;
}

@media (min-width:1440px) {
    .box-m {
        height: auto;
        width: 60vw;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 5vw;
    }
}

.radio_box {
    width: 20vw;
}

.als {
    justify-content: center;
}

.box-l {
    height: auto;
    padding-bottom: 10px;
    width: 66vw;
}

@media (min-width: 1440px) {
    .line-separator {
        border-left: 1.5px solid #868db383;
        height: 4vw;
        margin-left: 10px;
        margin-right: 10px;
    }
}
    


.search_sub-colorL {
    border: 1px solid #1b1f2e25;
    background-color: #ffffffbb;
}

.search_sub-colorD {
    border: 1px solid #ffffff60;
    background-color: #4c506152;
}

.button_flights {
    margin-top: 1.2vw;
    margin-left: 2.5vw;
}

.display_inline {
    display: inline-block;
}


.display-inline {
    display: inline-block;
}

.display-block {
    display: block;
}

.center {
    margin: auto auto;
}

.align-vertically {
    display: inline-block;
}

.align_items-end {
    align-items: flex-end;
}

.align_items-center {
    align-items: center;
}

.align_content-end {
    align-content: flex-end;
}

.align_content-center {
    align-content: center;
}

.align_self-start {
    align-self: flex-start;
}

.align_self-end {
    align-self: flex-end;
}

.icon-s {
    width: auto;
    height: auto;
    max-width: 5vw;
    max-height: 3.5vh;
}

.icon-date {
    width: auto;
    height: auto;
    max-width: 5vw;
    max-height: 2vw;
}

.icon-flight {
    width: auto;
    height: auto;
    max-width: 5vw;
    max-height: 2vw;
}




.icon-flight-s {
    height: auto;
    width: auto;
    max-height: 2vw;
    max-width: 1.5vw;
    margin: auto auto;
    margin-left: 0;
    margin-right: 5px;
}

.icon-hotel-s {
    height: auto;
    width: auto;
    max-height: 2vw;
    max-width: 1.2vw;
    margin: auto auto;
    margin-left: 0;
    margin-right: 5px;
}

.icon-dropdown {
    width: auto;
    height: auto;
    max-width: 3vw;
    max-height: 1vh;
}



@media (max-width:1024px) {
    .flex-wrap {
        flex-wrap: wrap;
    }
}

.flex-center {
    justify-content: center;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-around {
    justify-content: space-around;
}

.button-generic {
    border-radius: 50px;
    width: max-content;

}

.center_v {
    margin-left: auto;
    margin-right: auto;
}

.center_h {
    margin-top: auto;
    margin-bottom: auto;

}

.button-small {
    border-radius: 50px;
    width: 5vw;
    height: 1.5vw;
    line-height: 1.5vw;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 0px;
    text-align: center;
    font-size: 0.7vw;
    padding-left: 0px;
}

.button-medium {
    border-radius: 50px;
    width: auto;
    height: 1.5vw;
    line-height: 1.5vw;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 0px;
    text-align: center;
    font-size: 0.7vw;
    padding: 0px 10px;
}

@media (max-width:450px) {
    .button-medium {
        border-radius: 50px;
        width: 10vw;
        height: 3vw;
        line-height: 3vw;
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 0px;
        text-align: center;
        font-size: 0.6rem;
        padding: 0px 10px;
    }
}

.non-selectable {
    user-select: none;
}

.button_border-L {
    border: 1px solid #1b1f2e25;
}

.button_border-D {
    border: 1px solid #ffffff60;
}



.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 12px;
}

.checkboxes input {
    vertical-align: middle;
}



.padding-toggle_buttons {
    margin-left: 2.5vw;
    margin-top: 1vw;
}

.padding-section {
    margin-top: 100px;
}


.search_toggle {
    display: flex;
}

.button_search {
    background-color: rgb(60, 113, 255);
    border: 2.8px solid rgb(60, 113, 255);
    color: white;
}

.button_search:active {
    transition: 0.2s all;
    background-color: rgba(60, 112, 255, 0.658);
    border: 2.8px solid rgba(60, 112, 255, 0);
}

.icon-search {
    width: auto;
    height: auto;
    max-width: 2vw;
    max-height: 1.5vh;
    margin-top: auto;
    margin-bottom: auto;
}

.collection_bg {
    background-image: url("./assets/Our-NFT.png");
    -webkit-background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:450px) {
    .collection_bg {
        background-image: url("./assets/Our-NFT.png");
        -webkit-background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    
    
}


.box-collection {
    width: 86vw;
    height: 60vh;

}

@media (max-width:450px) {
    .box-collection {
        width: 95vw;
        height: auto;

    }

}


.box-about {
    width: 86vw;
    height: auto;
    
}

@media (max-width:450px) {
    .box-about {
        width: 90vw;
        height: auto;
        padding-left: 5vw;
    }
}

@media (min-width:1440px){
    .box-about {
        width: 60vw;
        height: 15vw;
    }
    
}

.font-about-body {
    font-size: 16px;
}

.font-title {
    font-size: 2rem;
    font-weight: 00;
}



.box-icons {
    display: inline;
    margin: auto auto;
}

@media (max-width:450px) {
    .box-icons {
        max-width: 90vw;
        margin-left: 5vw;
    }
}






.gap-collection {
    gap: 100px 20px;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #ffffffce
}

.card1 {
    background-image: linear-gradient(120deg, #3B409E 0%, #7378db 100%);
    z-index: 5;
}

.card2 {
    background-image: linear-gradient(60deg, #3B409E 0%, #7378db 100%);
}

.card3 {
    background-image: linear-gradient(0deg, #3B409E 0%, #7378db 100%);
}

.card-border {
    border: 2px solid white;
}


.button-roadmap {
    background-image: linear-gradient(90deg, rgb(10, 73, 247) 50%,  rgb(62, 110, 241) 100%);
    width: auto;
    max-width: 100px;
    border-radius: 20px;
    padding: 4px 15px;
}

.button-roadmap:active {
    transition: 0.2s all;
    background-image:  linear-gradient(90deg,  rgb(62, 110, 241) 0%, rgb(10, 73, 247)100%);
}


/* Special offers */

.offers_bg-L {
    width: 80vw;
    border-radius: 20px;
    background-color: rgb(241,244,249);
}


.offers_bg-D {
    width: 80vw;
    border-radius: 20px;
    background-color: rgb(38,41,56);
}

.card-offers {
    width: 220px;
    height: 250px;
    border-radius: 10px;
    
}

.card_offers_border-D {
    border: 1px solid #ffffffce
}

.card_offers_border-L {
    border: 1px solid #adacacce
}

.border-blue {
    border: 1px solid #3B71FE;
}












/* review list */

.review-card {
    background: white;
    margin: 60px auto;
    padding: 1px 20px 20px 90px;
    position: relative;
}

.review-card .rating {
    position: absolute;
    top: -20px;
    left: -20px;
    background: #8e2ad6;
    font-size: 3em;
    width: 90px;
    height: 90px;
    text-align: center;
    color: white;
}

.review-card h2 {
    margin-bottom: 0;
}

.review-card small {
    margin-right: 10px;
    color: #777;
}