@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Karla-Bold';
  src:  url('./assets/fonts/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla-Regular';
  src:  url('./assets/fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src:  url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src:  url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

header {
  padding: 0px 10vw;
  margin: auto auto;
  font-size: 0.85vw; 
}

@media (max-width:450px) {
  
header {
  padding: 0px 10vw;
  margin: auto auto;
  font-size: 12px; 
  line-height: 12px;
}
}

.fontSize-m {
  font-size: 12px;
}

.karla-bold {
  font-family: "Karla-Bold";

}

.karla-regular {
  font-family: "Karla-Regular";
}

.roboto-bold {
  font-family: "Roboto-Bold";
}

.roboto-medium {
  font-family: "Roboto-Medium";
}

.roboto-regular {
  font-family: "Roboto-Regular";
}


.header_gradient-L {
  background: linear-gradient(rgba(151, 151, 151, 0.226), white);
}

.header_gradient-D {
  background: linear-gradient(rgba(95, 95, 95, 0.226), #1b1f2ee0);
}

@media (max-width:770px) {
  header {
    padding: 0px 10px;
    margin: auto auto;
  }
}


.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: 0vh;
  margin-bottom: 0vh;
}


body {
  margin: auto auto;
  font-family: "Karla-Regular";

  
}

p {
  margin: 0;

}

h1 {
  font-family: "Karla-Bold";
}

h2,h3,h4 {
  font-weight: 500;
}

.App {
  font-size: 1.2em;
  margin: 0 0;
  width: 100%;
  height: 100vh;
 

  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: #8e2ad6;
  border-bottom: 1px dotted;
}

section h1 {
  font-family: "Karla-Bold";
  font-weight: bolder;
  font-size: 5rem;
  color: rgb(29, 29, 29);
  z-index: 1;
  
}

section h2 {
  font-family: "Karla-Regular";
  font-weight: lighter;
  font-size: 2rem;
  color: rgb(29, 29, 29);
}

.site-header {
  padding-top: 20px;
}



.no-under-line {
  cursor: pointer;
  border-bottom-style: none;
}

.text-nowrap {
  white-space: nowrap;
}

.font-m {
  font-size: 2vw;
}

.font-l {
  font-size: 5vw;
}

.fontColor-b {
  color: rgb(29, 29, 29);
}

.fontColor-b-opaque {
  color: rgba(29, 29, 29, 0.61);
}

.font-gray {
  color: #868DB3;
}


.paddingL-s {
  padding-left: 2vw;
}

.paddingL-m {
  padding-left: 4vw;
}

.paddingR-s {
  padding-right: 20px;
}

.paddingT-xs {
  padding-top: 5px;
}

.paddingT-s {
  padding-top: 15px;
}

.paddingT-m {
  padding-top: 30px;

}

.paddingT-l {

  font-family: "Karla-Bold";
  font-weight: bolder;
  

  z-index: 1;
}

.paddingB-m {
  padding-bottom: 30px;
}

.paddingLR-l {
  padding-left: 50px;
  padding-right: 50px;
}

.boxHeight-s {
  height: 1vw;
}

.flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

 
}

.flex-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start; 
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.center_items {
  justify-content: center;
}

.center_image {
  margin: auto auto;
  display: block;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

@media (max-width:450px) {
  .flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 0px;
  }

  
}

.vertical {
  flex-direction: column;
}

.flex-direction {
  flex-direction: row;
}

@media (max-width:450px) {
  .flex-direction {
    flex-direction: column;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.spacing {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs_center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top {
  top: 20%;
}

@media(max-width:770px) {
  .spacing {
    justify-content: center;
  }
}


.center_div {
  display: block;
  
  margin: auto auto;
}


.center_noresize {
  display: block;
  padding-bottom: 10px;
  margin: auto auto;
}

.center_text {
  text-align: center;
}


.left {
  float: left;
}


.wrapping {
  flex-shrink: 2;
}

.gap-list {
  gap: 0px 30px;
}

.gap-s {
  gap: 10px 10px;
}

.gap-sm {
  gap: 10px 2vw;
}

.gap-searchbox {
  gap: 0px 15vw;
  justify-content: flex-start;
}

.gap-subbox {
  gap: 0px 30px;

}

.align-text {
  text-align: center;
}

@media (max-width:770px){
  .gap-sm {
    gap: 10px 10px;
  }
}

.clickable {
  cursor: pointer;
}

.button-header {
  cursor: pointer;
  border-radius: 100px;
  height: 1.5vw;
  line-height: 1.5vw;

  width: 10vw;
 
  padding-left: 0px;
  padding-right: 0px;
}

@media(max-width:450px) {
  .button-header {
    cursor: pointer;
    border-radius: 100px;
    height: 3vw;
    line-height: 3vw;
  
    width: 50vw;

    padding-left: 0px;
    padding-right: 0px;
  }
}

.button-header p {

  margin: 0;
  white-space: nowrap;
  text-align: center;
  
}

.button-dark {
  border: 0.1vw solid rgba(133, 141, 179, 0.8);
}

.button-light {
  border: 0.1vw solid rgba(143, 146, 169, 0.8);
}


.button-connect {
  background-color: rgb(60, 113, 255);
  border: 2.8px solid rgb(60, 113, 255);
  color: white;
}

.button-list {
  border: 1px solid rgba(51, 51, 51, 0.8);
  border-radius: 30px;
  padding: 2px 10px;
}


.button-s {
  cursor: pointer;
  border-radius: 100px;
  height: auto;
  width: 10vw;
  margin: 0 0;
  padding-left: 0px;
  padding-right: 0px;
}

.font-s {
  font-size: 11.5px;
}

.font-ms {
  font-size: 15px;
}

.button:hover {
  background-color: #868db33f ;
}

.glow:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}

.glow-L:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}

.glow-D:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(170, 169, 169, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}



.glow-solid {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}

.glow-solid-L {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}

.glow-solid-D {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(192, 184, 184, 0.11);
  box-shadow: 0 5px 15px rgba(240, 243, 242, 0.062);
  border-radius: 20px;
}






.section1-bg {
  background-image: url("./assets/Landing-Page-Background.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  
  width: 80vw;
  height: 37vw;
  z-index: -1;
  
}

.section-pad {
  padding: 0px auto;
}

.overlap {
  margin-top: -25vw;
}

.search_header {
  border-radius: 20px;
  margin-left: 5vw;
  margin-top: 7vw;
  backdrop-filter: blur(20px);
}

@media (max-width:1024px) {
  .search_header {
    border-radius: 20px;
    margin-left: 0vw;
    margin-top: 7vw;
    backdrop-filter: blur(20px);
  }
}



.search_header-colorL {
  border: 1px solid #C5CFDB;
  background-color: #e7ebefa2 ;
}

.search_header-colorD {
  border: 1px solid #868db360;
  background-color: #1b1f2ee0 ;
}



.search_sub {
  border-radius: 25px;
  margin-left: 2.5vw;
  margin-top: 1vw;
  height: 500px;
}

@media (max-width:1024px) {
  .search_sub {
    border-radius: 25px;
    margin-left: 1vw;
    margin-top: 1vw;
    height: 500px;
  }
}

.box-m {
  height: 10vh;
  width: 65vw;
}

@media (max-width:1024px) {
  .box-m {
    height: 10vh;
    width: 78vw;
  }
}

.box-l {
  height: 25vh;
  width: 70vw;
}


@media (max-width:1024px) {
  .box-l {
    height: 25vh;
    width: 80vw;
  }

  
}

.line-separator {
  border-left: 2px solid #868db383;;
  height: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}


.search_sub-colorL {
  border: 1px solid #1b1f2e25;
  background-color: #ffffffbb;
}

.search_sub-colorD {
  border: 1px solid #ffffff60;
  background-color: #4c506152;
  
}


.button_flights {
  margin-top: 1.2vw;
  margin-left: 2.5vw;

}

.display_inline {
  display: inline-block;

  
}

.center {
  margin: auto auto;
}

.align_items-end {
  align-items: flex-end;

}

.align_items-center {
  align-items: center;
}

.align_content-end {
  align-content: flex-start;

}

.icon-s {
  width: auto;
  height: auto;
  max-width: 5vw;
  max-height: 3.5vh;
}

.icon-flight-s {

  height: auto;
  width: auto;
  max-height: 2vw;
  max-width: 1.5vw;

  margin: auto auto;
  margin-left: 0;
  margin-right: 5px;
  
}


.icon-hotel-s {
  height: auto;
  width: auto;
  max-height: 2vw;
  max-width: 1.2vw;

  margin: auto auto;
  margin-left: 0;
  margin-right: 5px;
}

.icon-dropdown {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 1vh;
}

.flex-center {
  justify-content: center;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-around {
  justify-content: space-around;
}


.button-small {
  border-radius: 50px;
  width: 5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  user-select: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 0px;
  text-align: center;
  font-size: 0.7vw;
 

  padding-left: 0px;

}

.button_border-L {
  border: 1px solid #1b1f2e25;
}

.button_border-D {
  border: 1px solid #ffffff60;

}

.padding-toggle_buttons {
  margin-left: 2.5vw;
  margin-top: 1vw;
}

.search_toggle {
  display: flex;

}











/* review list */
.review-card {
  background: white;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
}
.review-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #8e2ad6;
  font-size: 3em;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
}
.review-card h2 {
  margin-bottom: 0;
}
.review-card small {
  margin-right: 10px;
  color: #777;
}